:root {
  --board-width: 850px;
}

.game {
  font-family: sans-serif;
  display: flex;
  height: 800px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game .info {
  display: flex;
  width: var(--board-width);
  align-items: center;
  justify-content: space-around;
  color: #001f3f;
  border: 1px solid #104d89;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
}

.game .info div {
  width: 100%;
  line-height: 30px;
  text-align: left;
  font-size: 18px;
  background: #e9e9ed;
  padding: 0 8px;
}

.game canvas {
  border: 1px solid #104d89;
}

.game .controls {
  margin-top: 20px;
}

.game .controls button {
  cursor: pointer;
  color: #001f3f;
  height: 40px;
  padding: 0 20px;
}
